.FAQ {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: stretch;
	width: 80%;
	max-width: 900px;
}

.FAQ-Title {
	align-self: center;
	text-align: center;

}

.Text-faq,
.Text-title-faq {
	font-size: 48px;
	line-height: 58px;
}

.Text-faq {
	font-family: acremedium;
	font-style: normal;
	font-weight: 700;
	color: #314375;
}

.FAQ-List,
.Question {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1 1;
}

.FAQ-List {

}

.Question {
	border-bottom: 1px solid #ddd;
	padding-top: 24px;
	padding-bottom: 24px;
}

.Question-Button,
.Question-Row {
	display: flex;
	align-items: center;
}

.Question-Row {
	flex: 1 1;
	flex-direction: row;
	justify-content: space-between;
}

.QuestionTitle {
	text-align: left;
	margin: 0;
	font-size: 32px;
}

h3 {
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
}

.QuestionAnswer {
	margin-top: 12px;
	text-align: left;
	color: #314375;
}

.Text-body-faq {
	line-height: 29px;
	color: rgba(50, 66, 116, .5);
	font-size: 20px;
}
