.Footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-social-buttons {
  margin-left: 32px;
}

.social-button.social-button-footer svg path {
  fill: var(--harlequin-blue);
}

.social-button.social-button-footer {
  padding: 8px;
}