.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      var(--harlequin-blue) 0%,
      var(--harlequin-blue) 50%,
      var(--harlequin-yellow) 50%,
      var(--harlequin-yellow) 100%
    ),
    linear-gradient(
      to right,
      var(--harlequin-green) 0%,
      var(--harlequin-green) 50%,
      var(--harlequin-red) 50%,
      var(--harlequin-red) 100%
    );
  background-size: 100% 50%;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  padding: 48px;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  line-height: 60px;
}

.navbar .name {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  vertical-align: middle;
  flex-wrap: wrap;
}

.social-button-group {
  display: flex;
  align-items: center;
}

.social-button-group > .social-button {
  margin-left: 1vmax;
  display: flex;
  align-items: center;
}

.social-button svg path {
  fill: var(--harlequin-blue);
}

.wallet-button {
  background: var(--harlequin-green);
  color: var(--white-color);
}

.wallet-button.disconnect {
  background: var(--harlequin-red);
}

.car-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-wrapper h3 {
  font-size: 34px;
  font-weight: 700;
}

.car-wrapper p {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.car-wrapper span {
  font-size: 18px;
  opacity: 0.9;
}

.car-wrapper img {
  width: 50vw;
  height: auto;
  animation: lightSpeedInLeft 1s ease-out;
}

.header-mint {
  width: 100%;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mint .sold-out {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 772px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .logo {
    padding-bottom: 10px;
  }

  .social-button svg path {
    fill: var(--harlequin-yellow);
  }
}

@media (max-width: 438px) {
  .header {
    height: auto;
  }

  .car-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .car-wrapper img {
    width: 70vw;
  }
}

@keyframes lightSpeedInLeft {
  from {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
