@import url("./header.css");
@import url("./countdown.css");
@import url("./mint.css");
@import url("./h-banner.css");

.button {
	padding: 30px;
	font-weight: 700;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	line-height: 24px;
	max-height: 50px;
	display: flex;
	align-items: center;
}
