.lapalma-banner {
	width: 100%;
	background-color: #000000;
	display: flex;
	align-items: center;
	margin-top: 20px;

}
.text-banner{
	color: #ffffff;
	background-color: #000000;
	margin: 40px;
}
.lapalma-banner img {
	width: 50vw;
	height: auto;

}

.lapalma-banner h3 {
	font-weight: 700;
	font-size: 40px;
	margin: 0;
	text-align: left;
	line-height: 42px;
}

.lapalma-banner p {
	padding: 24px 0;
	font-size: 20px;
}
.lapalma-banner a {
	text-decoration: none;
}

@media (max-width: 900px) {
	.lapalma-banner {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.lapalma-banner img {
		width: 100%;


	}
}