.TeamRoot {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
}

.Text-team,
.Text-title-team {
	font-size: 48px;
	line-height: 58px;

}
.Text-title-team{
	margin-bottom: 100px;
}
.Text-team {
	font-family: acremedium;
	font-style: normal;
	font-weight: 700;
	color: #314375;

}

.TeamMembers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.TeamMember {
	display: flex;
	flex-direction: column;
	margin: 16px 32px 32px;
	align-items: center;
}

.TeamImage {
	margin-bottom: 16px;
	width: 196px;
	height: 196px;
	border-radius: 24px;
	overflow: hidden;
	border: 12px solid #fff;
}

.Text-subtitle-team {
	font-size: 37px;
	line-height: 44px;
	font-size: 32px;
	margin-bottom: 16px;
}

.Text-caption-team {
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(50, 66, 116, .5);
	font-size: 16px;
}
