@import "Style.css";


.header {
	position: relative;
	height: 70vh;
	padding: 48px;
	background: #314375;
	overflow: hidden;
}

.button-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 50;
}

.buttons {
	margin-left: 32px;
}

.wallet {
	position: relative;
}

.wallet-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
	background: #1EB6BA;
	box-sizing: border-box;
	border-radius:10px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	margin-left: 32px;
	max-height: 50px;
}

.title-header {
	z-index: 1;
	margin-top: 64px;
	color: #ffffff;
}

.subtitle-header {
	z-index: 1;
	font-family: acremedium;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	align-self: center;
}

.text-header {
	font-family: acremedium;
	font-style: normal;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 0;
}

.text-caption-header {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.bottom-image-header {
	height: 400px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(/src/static/media/car-avatars.png);
	animation: backgroundScroll 10s linear 1;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	z-index: 0;
}