
a {
	color: #1890ff;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: color .3s;
	-webkit-text-decoration-skip: objects;
}

h1, h3 {
	font-family: Balsamiq Sans, sans-serif;
	font-style: normal;
	text-align: center;
	color: #10294e;
}

h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
}

h3 {
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
}

.title {
	z-index: 1;
	margin-top: 64px;

}

subtitle {
	z-index: 1;
	font-family: Balsamiq Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #10294e;
	max-width: 1080px;
	align-self: center;
}

.text {
	font-family: Balsamiq Sans;
	font-style: normal;
	font-weight: 700;
	color: rgb(16, 41, 78);
	margin-bottom: 0;
}

.text-caption {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}
.bottom-image{
	height: 212px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: repeat;
	background-size: cover;
	background-image: url(/src/static/media/botton-image.jpeg);
	animation: backgroundScroll 10s linear 1;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	z-index: 0;
}