@import "Style.css";
.TeamRoot {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
}



.Text-team, .Text-title-team {
	font-size: 48px;
	line-height: 58px;
}

.Text-team {
	font-family: acremedium;
	font-style: normal;
	font-weight: 700;
	color: #314375;
	margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5em;
	color: #314375;
	font-weight: 500;
}

.TeamMembers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.TeamMember {
	display: flex;
	flex-direction: column;
	margin: 16px 32px 32px;
	align-items: center;
}

.TeamImage {
	margin-bottom: 16px;
	width: 196px;
	height: 196px;
	border-radius: 24px;
	overflow: hidden;
	border: 12px solid #fff;
}

.Text-subtitle-team {
	font-size: 37px;
	line-height: 44px;
}




.Text-caption-team {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

